.toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    border:none;
    background-color:#eeeeef
}

@media only screen and (max-width:600px){
   .toolbar{
        width: 100%;
        background-color: #128C7E;
        color: white
    }


}
