.search-result{
    height: 50px
}


.list-group-item{
    display: flex;
    // width: 100%;
    flex-direction: row;
    align-items: center

}

img{
    height: 40px;
    width: 45px;
    border-radius: 50%;
}

p{
    color: #128C7E
}
